<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
		<!-- 单个controller配置，一个请求对应一个类 -->
		<bean name="/springMvc.htm" class="com.chinasoft.controller.servlet.SpringMvc"/>
		<bean name="/springMvc2.htm" class="com.chinasoft.controller.servlet.SpringMvc2"/>
		
		
		<!-- 多方法参数解析器 -->
		<bean id="mutiResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
			<property name="paramName" value="method" />
		</bean>
		<bean name="/springMvc3.htm" class="com.chinasoft.controller.servlet.SpringMvc3">
			<!-- 指明采用哪一个方法解析器 -->
			<property name="methodNameResolver" ref="mutiResolver"/>
		</bean>
		
		
	
</beans>